<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <!-- Link CSS properly -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v='3') }}">
</head>

<body class="welcome-page">

    <h1>Examination Management System</h1>
    <p class="subtle">Sign in to manage exams or take quizzes.</p>

    <div class="container">
        <h2>Login</h2>

        <form method="POST">
            <input type="text" name="username" placeholder="Enter Username" required>
            
            <input type="password" name="password" placeholder="Enter Password" required>
            
            <button type="submit">Login</button>
        </form>

        <a href="/register">
            <button type="button">Register</button>
        </a>

    </div>

</body>
</html>